<footer class="footer">

    <div class="footer-middle">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-lg-3">
            <div class="widget widget-about">
              <img src="User/assets/images/logos/phonehub.jpg" class="footer-logo" alt="Footer Logo" width="105" height="25">
              

             
            </div><!-- End .widget about-widget -->
          </div><!-- End .col-sm-6 col-lg-3 -->

          <div class="col-sm-6 col-lg-3">
            <div class="widget">
              <h4 class="widget-title">Useful Links</h4><!-- End .widget-title -->

              <ul class="widget-list">
                <li><a href="/">Home</a></li>
                <li><a href="/product_list">Product list</a></li>
                <li><a href="/">Brands</a></li>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Contact us</a></li>
              </ul><!-- End .widget-list -->
            </div><!-- End .widget -->
          </div><!-- End .col-sm-6 col-lg-3 -->

          <div class="col-sm-6 col-lg-3">
            <div class="widget">
              <h4 class="widget-title">Customer Service</h4><!-- End .widget-title -->

              <ul class="widget-list">
                <li><a href="#">Payment Methods</a></li>
                <li><a href="#">Returns</a></li>
                <li><a href="#">Shipping</a></li>
                <li><a href="#">Terms and conditions</a></li>
                <li><a href="#">Privacy Policy</a></li>
              </ul><!-- End .widget-list -->
            </div><!-- End .widget -->
          </div><!-- End .col-sm-6 col-lg-3 -->

          <div class="col-sm-6 col-lg-3">
            <div class="widget">
              <h4 class="widget-title">My Account</h4><!-- End .widget-title -->

              <ul class="widget-list">
                <li><a href="/logout">Sign out</a></li>
                <li><a href="/view_cart">View Cart</a></li>
                <li><a href="/wish_list">My Wishlist</a></li>
                <li><a href="/my_acc">Address</a></li>
                <li><a href="#">Help</a></li>
              </ul><!-- End .widget-list -->
            </div><!-- End .widget -->
          </div><!-- End .col-sm-6 col-lg-3 -->
        </div><!-- End .row -->
      </div><!-- End .container -->
    </div><!-- End .footer-middle -->

    <div class="footer-bottom">
      <div class="container">
     
        <figure class="footer-payments">
          <img src="User/assets/images/payments.png" alt="Payment methods" width="272" height="20">
        </figure><!-- End .footer-payments -->
      </div><!-- End .container -->
    </div><!-- End .footer-bottom -->
  </footer><!-- End .footer -->