<header class="header header-intro-clearance header-4">
    

    <div class="header-middle">
      <div class="container">
        <div class="header-left">
         

          <a href="/home" class="logo">
            <img src="User/assets/images/logos/phonehub.jpg" alt="phonehub" width="105" height="25">
          </a>
        </div><!-- End .header-left -->

        <div class="header-center">
          <div class="header-search header-search-extended header-search-visible d-none d-lg-block">
            <a href="#" class="search-toggle" role="button"><i class="icon-search"></i></a>
            <form action="#" method="get">
              <div class="header-search-wrapper search-wrapper-wide">
                <label for="q" class="sr-only">Search</label>
                <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
                <input type="search" class="form-control" name="q" id="q" placeholder="Search product ..." required>
              </div><!-- End .header-search-wrapper -->
            </form>
          </div><!-- End .header-search -->
        </div>

        <div class="header-right">
          <!-- <div class="dropdown compare-dropdown">
            <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static" title="Compare Products" aria-label="Compare Products">
              <div class="icon">
                <i class="icon-random"></i>
              </div>
              <p>Compare</p>
            </a>

            <div class="dropdown-menu dropdown-menu-right">
              <ul class="compare-products">
                <li class="compare-product">
                  <a href="#" class="btn-remove" title="Remove Product"><i class="icon-close"></i></a>
                  <h4 class="compare-product-title"><a href="product.html">Blue Night Dress</a></h4>
                </li>
                <li class="compare-product">
                  <a href="#" class="btn-remove" title="Remove Product"><i class="icon-close"></i></a>
                  <h4 class="compare-product-title"><a href="product.html">White Long Skirt</a></h4>
                </li>
              </ul>

              <div class="compare-actions">
                <a href="#" class="action-link">Clear All</a>
                <a href="#" class="btn btn-outline-primary-2"><span>Compare</span><i class="icon-long-arrow-right"></i></a>
              </div>
            </div>
          </div> -->
          <div class="header-dropdown">
            <% if (user && user.state) { %>
              
             <strong><%= user. firstname %></strong>

              <div class="header-menu">
                <ul>
                  <li><a href="/my_acc" class="btn">My account</a></li>
                  <li><a href="/logout" class="btn">Log Out</a></li>
                </ul>
              </div><!-- End .header-menu -->
            
                   
            <% }else{ %>
             <strong ><a href="/login">LOG IN</a></strong> 

              
            <% } %>
          </div>
          <div class="wishlist">
            <a href="/wish_list" title="Wishlist">
              <div class="icon">
                <i class="icon-heart-o"></i>
                
              </div>
              <p>Wishlist</p>
            </a>
          </div><!-- End .compare-dropdown -->

          <div class="dropdown cart-dropdown">
         
              <a href="/view_cart" class="dropdown-toggle" role="button" >
                <div class="icon">
                  <i class="icon-shopping-cart"></i>
                  
                </div>
                <p>Cart</p>
              </a>
           
            
             

           
          </div><!-- End .cart-dropdown -->
        </div><!-- End .header-right -->
      </div><!-- End .container -->
    </div><!-- End .header-middle -->

   
  </header><!-- End .header -->